nav{
  background-color: var(--header-background-color);
  padding: 1rem;

  color : var(--text-header-color);
  clip-path: ellipse(100% 100%  at 50% 0%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
} 

.header_left a {
  color: var(--text-header-color);
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

.nav_body{
  margin-top: 0rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;

}

.nav_body img {
  max-width: 100%;
  height: 80%;
}

.nav_body h1 {
  font-size: 2.5rem;
}

.nav_text {
  max-width: 50%;
}
.nav_text p {
  font-size: 1.2rem;
  line-height: 1.6;
}