nav{
  background-color: var(--header-background-color);
  padding: 1rem;
  color : var(--text-header-color);
  clip-path: ellipse(100% 100%  at 50% 0%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.header_left{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.header_left a {
  color: var(--text-header-color);
  text-decoration: none;
  /* margin: 0 1rem; */
  font-weight: bold;
}

.nav_body{
  margin-top: 0rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
}

.laptop-image {
  animation: float 6s ease-in-out infinite;
  /* Créer un masque en dégradé qui fond les bords */
  mask-image: radial-gradient(
    ellipse 80% 70% at 50% 45%,
    black 40%, 
    transparent 100%
  );
  -webkit-mask-image: radial-gradient(
    ellipse 80% 70% at 50% 45%,
    black 40%, 
    transparent 100%
  );
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
}

/* Au hover */
.laptop-image:hover   {
  transform: scale(1.05) translateY(-10px);
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.nav_body img {
  max-width: 100%;
  height: 80%;
}

.nav_body h1 {
  font-size: 2.5rem;
}

.nav_text {
  max-width: 50%;
}
.nav_text p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
}