 .blank{
    visibility: hidden;
 }

 .text-center{
    font-family: 'montserrat';
    font-size: 5rem;
 }

 
 @keyframes slideIn {
          from {
            opacity: 0;
            transform: translateY(-50px) rotateX(-90deg);
          }
          to {
            opacity: 1;
            transform: translateY(0) rotateX(0);
          }
        }
        .letter {
          display: inline-block;
          animation: slideIn 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
        }