.home_container {
  background-color: var(--background-color);
  color: var(--text-body-color);
  padding: 2rem;    
}

.home_container h1 {
  font-size: 3rem;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
}

.home_container p {
  font-size: 1rem;
  line-height: 1.6;
}

.projects_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  margin: 0 5rem;
}