.languages_container{
    flex-direction: column;
    padding: 0.5rem 0.2rem;
    background-color: var(--icons-background-color);
    text-align:  center;
    color: var(--text-body-color);
    cursor: pointer; 
    display: none;
    position: absolute;
    padding-top: 2rem;
    top:1.5rem;
    z-index: -5;
    border-radius: 8px;
}

.languages_container.active{
    display:  flex;
      
}


.languages_container span:hover{
    background-color: var(--icons-color);
    color: var(--text-header-color);
}