.project {
  background-color: var(--card-background);
  border: 1px solid var(--card-border);
  border-radius: 25px;
  padding: 0.8rem;
  box-shadow: 0 0 30px var(--shadow-color);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  max-height: 70dvh;
  max-width: 70dvb;
}

.project:hover {
  transform: translateY(-5px);
}

.project a{
  text-decoration: none;
  width: 100%;
  height: 40%;
}

.project img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 4px 4px;

}

.project h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project p {
  font-size: 1rem;
  color: var(--text-body-color);
  /* flex-grow: 1; */
}
.project-footer {
  font-size: 0.9rem;
  color: var(--text-body-color);
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.project-links {
  display: flex;
  gap: 1.5rem;
}
.project-date {
  margin: 0.2rem 0;
  display: inline-block;
  font-size: 0.9rem;
  font-family: Arial, sans-serif;
  color: var(--icons-color);
}