@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #18113a;
  --secondary-color: #5effa4f5;
  --tertiary-color: #f95c35f5;
  --header-background-color: black;
  --background-color: #ffffffd1;
  --text-header-color: white;
  --text-body-color: #333333;
  --icons-color: #666666;
  --icons-light-color: #ffffff;
  --icons-background-color: #f0f0f0;
  --icons-hover-color: #000000;
  --icons-background-hover-color: #e0e0e0;
  --card-background: #ffffff;
  --card-border: #dddddd;
  --shadow-color: #839cf4a1;
}